.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Color negro con 50% de opacidad */
    z-index: 100; /* Asegura que esté por encima de otros elementos */
  }

.div-container{
    display: flex;
    height: 794px;
    justify-content: center;
    overflow: hidden;
    flex-wrap: wrap;
    
}

.sub-div{
    display: flex;
    justify-content: center;
}

.div-signup{
    display: none;
}

.div-signup-visible {
    display: flex !important;
    width: auto;
    height: auto;
    background: #343434;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 28px;    

}

.div-login-visible{
    display: flex !important;
    width: 400px;
    height: auto;
    background: #343434;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 28px; 
}

.div-bs{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 540px;
    margin-right: 15vw;
}

.text-bs{
    color: #18191F;
    font-feature-settings: 'salt' on, 'liga' off;
    font-family: Inter;
    font-size: 72px;
    font-style: normal;
    font-weight: 800;
    line-height: 98px;
    margin: 0px 0px 15px 0px;
}

.text-p{
    color: var(--text-gray-900, #18191F);
    font-feature-settings: 'salt' on, 'liga' off;
   
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; 
    margin: 0px 0px 32px 0px;
}

.btn-getstarted{
    border-radius: 6px;
    background: #4EEDCB;
    width: 154px;
    height: 48px;
    border-color: transparent;
    cursor: pointer;
}

.text-btn-star{
    color:#FFF;
    text-align: center;
    font-feature-settings: 'salt' on, 'liga' off;
    cursor: pointer;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.div-muestra{
    display: flex;
    
}

.div-cir{
    margin-top: 77px;
    width: 640px;
    height: 640px;
    border-radius: 640px;
    background: rgba(60, 162, 214, 0.84);
}

.img-muestra{
    width:768px;
    height: 480px;
    position: relative;
    top: 72px;
    left: 150px;
    
}

/* ############################### */
/* media queries */


@media(max-width: 1500px) and ( min-width: 1201px ) {
    .div-bs{
        margin-right: 5vw;
        margin-left: 0;
    }
 
    .sub-div{
     margin-left: 5vw; 
 
    }
 
 }

 @media(max-width: 1200px) and ( min-width: 1001px ) {
    .div-bs{
        margin-right: 0vw;
        margin-left: 5vw;
    }
 
    .sub-div{
     margin-left: 5vw; 
 
    }

    .div-cir{
        margin-top: 107px;
        width: 500px;
        height: 500px;
        border-radius: 500px;
    }

    .img-muestra{
        width: 688px;
        height: 400px;
        top: 50px;
        left: 120px;
    }
    
 
 }

@media(max-width: 1000px) and ( min-width: 801px ) {
   .div-muestra{
    display: none;
   }

   .sub-div{
    margin-left: 10vw; 

   }

}

@media(max-width: 800px){
    .div-container{
        height: auto;
        
    }

    .sub-div{
        flex-direction: column-reverse;
        margin-left: 0;
    }

    .div-bs{
        margin-top: 50px;
        margin-bottom: 50px;
        margin-right: 0;

    }

    .text-p{
        flex-wrap: wrap;
    }

    .div-cir{
        margin-top: 77px;
        width: 540px;
        height: 540px;
        border-radius: 440px;
        background: rgba(60, 162, 214, 0.84);
    }

    .img-muestra{
        width:568px;
        height: 400px;
        position: relative;
        top: 72px;
        left: 110px;
        
    }
}

