.div-footer{
    width: 100%;
    height: auto;
    background-color: #0B0D17;
}

.div-logo-texto{
    display: flex;
    height: auto;
    justify-content: space-between;

}

.div-logo{
    width: 410px;
    height: 433px;
}

.img-logo{
    width: 409px;
    height: 400px;
    position: relative;
    top: 20px;
}

.div-universidad{
    width: 450px;
    color: #FFF;
    display: flex;
    flex-direction: column;
    font-size: 16px;

    
}

.universidad{
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 32px;
}

a{
    text-decoration: none;
    font-size: 16px;
    color: #FFF;
}

.div-contacto{
    width: 450px;
    color: #FFF;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    margin-bottom: 20px;

}

.txt-contacto{
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 20px;

}

.div-repre{
    margin-bottom: 20px;
}

.mini-footer{
    display: flex;


    background-color:Black;
    height: 70px;
}


/* ############################### */
/* media queries */

@media(max-width: 1200px) and ( min-width: 1001px ) {
    .img-logo{
        width: 369px;
    }
 }

@media(max-width: 1000px){
    .div-logo{
        display: none;
    }

    .div-universidad{
        margin-left: 2vw;
        margin-right: 2vw;
    }

    .div-contacto{
        padding-bottom: 20px;
    }

    .txt-contacto{
        font-size: 24px;
        margin-top: 2vh;
        margin-bottom: 2vh;
    }

    .div-repre{
        margin-bottom: 2vh;
    }

}

@media(max-width: 800px) and ( min-width: 521px ){
    .div-logo{
        display: none;
    }

    .div-universidad{
        margin-left: 2vw;
        margin-right: 2vw;
    }

    .div-contacto{
        padding-bottom: 20px;
    }

    .txt-contacto{
        font-size: 24px;
        margin-top: 2vh;
        margin-bottom: 2vh;
    }

    .div-repre{
        margin-bottom: 2vh;
    }

}

@media (max-width:520px) {
    .div-logo-texto{
        flex-direction: column;
        padding: 20px;
    }

    .div-logo{
        display: none;
    }

    .div-universidad{
        margin-left: 2vw;
        margin-right: 2vw;
        display: contents;
    }

    .div-contacto{
        padding-bottom: 20px;
        margin-left: 2vw;
        display: contents;
    }

    .txt-contacto{
        font-size: 24px;
        margin-top: 2vh;
        margin-bottom: 2vh;
    }

    .div-repre{
        margin-bottom: 2vh;
    }
}