.div-container-registro{
    width: 100%;
    border-radius: 28px;
}

.div-inputs{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 28vh;

}

.txt-registro{
    color: #FFF;
    text-align: center;
    font-feature-settings: 'salt' on, 'liga' off;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    margin: 20px 0px;
}

input{
    background-color: #343434;
    color: #FFF;
    font-size: 20px;
    border: none;
    box-shadow: 0px 2px 0px 0px #7e7c7c;
    outline: none;
    margin: 2px 50px;
    width: 20   vw;
    min-width: 300px;
        
}

input:focus{
    box-shadow: 0px 2px 0px 0px #ffffff;
}
    
.div-btns{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 30px 30px;
}

.div-btns div{
    display: flex;
    width: 15vw;
    min-width: 300px;
    justify-content: space-between;

}

.btn-cancelar{
    border-radius: 6px;
    background: #3CA2D6;
    width: 77px;
    height: 40px;
    border-color: transparent;
    margin-right: 14px;
    cursor: pointer;
        
}

.btn-cancelar:hover{
    box-shadow: 0 0 30px 3px #3CA2D6;
}

